@import 'tailwindcss';

html {
	scrollbar-gutter: stable;
}

button,
a,
[role='button'] {
	touch-action: manipulation;
}

@layer base {
	body {
		@apply bg-amber-50;
		font-family: 'Lora', 'Inter';
	}
}

.arrowButton {
	@apply cursor-pointer items-center justify-center self-stretch rounded-lg px-2 transition-colors duration-200 hover:bg-amber-200 active:bg-amber-300;
}

.arrowIcon {
	@apply size-10 transition;
}
