@import 'tailwindcss';

/* html { */
/* 	scrollbar-gutter: stable; */
/* } */

button,
a,
[role='button'] {
	touch-action: manipulation;
}

@layer base {
	body {
		@apply bg-amber-50;
		font-family: 'Lora', 'Inter';
	}
}

.arrowButton {
	@apply cursor-pointer items-center justify-center self-stretch rounded-lg px-2 transition-colors duration-200 hover:bg-amber-200 active:bg-amber-300;
}

.arrowIcon {
	@apply size-10 transition;
}

/* :root { */
/*   --primary-color: #1e90ff; */
/*   --secondary-color: #ff69b4; */
/*   --tertiary-color: #32cd32; */
/*   --accent-color: #ffa500; */
/*   --background-color: #ffffff; */
/*   --text-color: #000000; */
/* } */

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/*colors */
@layer base {


[data-theme="igor"] {
    --color-test: #b35cb5;
}
}

[data-theme="interstellar"] {
    background: red;
}

.dateDot {
	@apply absolute top-[5px] size-2 rounded-full transition-all group-data-outside-month:opacity-40 group-data-today:block;
}

/* [data-theme="lectio"] {
    primary-color: '#FFC107';
    secondary-color: '#FFB300';
    tertiary-color: '#FF7043';
    accent-color: '#FF6F00';
    background-color: '#FAF9F6';
    text-color: '#3E2723';
}
[data-theme="liturgical"] {
    primary-color: '#FFC107';
    secondary-color: '#FFB300';
    tertiary-color: '#FF7043';
    accent-color: '#FF6F00';
    background-color: '#FAF9F6';
    text-color: '#3E2723';
}
[data-theme="green"] {
    primary-color: #336958;
    secondary-color: #CBB06A;
    tertiary-color: #7c9993;

    text-color: #F0F8F2;
    background-color: #daffd9;
    accent-color: #CBB06A;
}
[data-theme="white"] {
    primary-color: #FFFEF2;
    secondary-color: #CBB06A;
    tertiary-color: #D8D8D6;

    text-color: #2D2D2D;
    background-color: #FFFEF2;
    accent-color: #CBB06A;
}
[data-theme="rose"] {
    primary-color: #2F195F;
    secondary-color: #CBB06A;
    tertiary-color: #7353BA;

    text-color: #EDE7F6;
    background-color: #fcdcef;
    accent-color: #7353BA;
}
[data-theme="purple"] {
    primary-color: #2F195F;
    secondary-color: #CBB06A;
    tertiary-color: #7353BA;

    text-color: #EDE7F6;
    background-color: #d3baff;
    accent-color: #7353BA;
}
[data-theme="red"] {
    primary-color: #9a122d;
    secondary-color: #CBB06A;
    tertiary-color: #d9686d;

    text-color: #FFF0F0;
    background-color: #ff8a90;
    accent-color: #d9686d;
} */
@theme inline {
    --color-primary = var(--primary-color);
    --color-secondary = var(--secondary-color);
    --color-tertiary = var(--tertiary-color);
    --color-accent = var(--accent-color);
    --color-background = var(--background-color);
    --color-text = var(--text-color);
}

[data-theme="lectio"] {
  --primary-color: #FFC107;
  --secondary-color: #FFB300;
  --tertiary-color: #FF7043;
  --accent-color: #FF6F00;
  --background-color: #FAF9F6;
  --text-color: #3E2723;
}

[data-theme="liturgical"] {
  --primary-color: #FFC107;
  --secondary-color: #FFB300;
  --tertiary-color: #FF7043;
  --accent-color: #FF6F00;
  --background-color: #FAF9F6;
  --text-color: #3E2723;
}

[data-theme="green"] {
  --primary-color: #336958;
  --secondary-color: #CBB06A;
  --tertiary-color: #7c9993;
  --accent-color: #CBB06A;
  --background-color: #daffd9;
  --text-color: #F0F8F2;
}

[data-theme="white"] {
  --primary-color: #FFFEF2;
  --secondary-color: #CBB06A;
  --tertiary-color: #D8D8D6;
  --accent-color: #CBB06A;
  --background-color: #FFFEF2;
  --text-color: #2D2D2D;
}

[data-theme="rose"] {
  --primary-color: #2F195F;
  --secondary-color: #CBB06A;
  --tertiary-color: #7353BA;
  --accent-color: #7353BA;
  --background-color: #fcdcef;
  --text-color: #EDE7F6;
}

[data-theme="purple"] {
  --primary-color: #2F195F;
  --secondary-color: #CBB06A;
  --tertiary-color: #7353BA;
  --accent-color: #7353BA;
  --background-color: #d3baff;
  --text-color: #EDE7F6;
}

[data-theme="red"] {
  --primary-color: #9a122d;
  --secondary-color: #CBB06A;
  --tertiary-color: #d9686d;
  --accent-color: #d9686d;
  --background-color: #ff8a90;
  --text-color: #FFF0F0;

