@layer base {
    :root {
	--primary-color: #660000;
	--secondary-color: #990033;
	--accent-color: #cc3366;
	--background-color: #fdf6f6;
	--text-color: #1a1a1a;
    }
    *{
	@apply transition-colors duration-500 ease-in-out;
    }
}
